@font-face {
  font-family: Equity;
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/equity_b_regular.woff2) format("woff2");
}

@font-face {
  font-family: Equity;
  font-weight: 400;
  font-style: italic;
  src: url(/assets/fonts/equity_b_italic.woff2) format("woff2");
}

@font-face {
  font-family: Equity;
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/equity_b_bold.woff2) format("woff2");
}

@font-face {
  font-family: Equity;
  font-weight: 700;
  font-style: italic;
  src: url(/assets/fonts/equity_b_bold_italic.woff2) format("woff2");
}