<!-- Custom fonts -->
<link
    rel="stylesheet"
    type="text/css"
    media="all"
    href="/assets/fonts/SNPro.css"
/>

<!-- Custom styling -->
<style>
    html {
        font-size: 12px;
        font-size: min(max(14px, 4vw), 20px);
    }

    content {
        line-height: 1.45;
    }

    body {
        max-width: 750px;
        font-family: "SN Pro", sans-serif;
        background-color: #fffff8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.25;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 5%;
        margin-bottom: -1%;
    }

    nav {
        margin-top: 3%;
        margin-bottom: 5%;
    }

    /* Indent more between dates and blog post titles to compensate for larger
     font size */
    ul.blog-posts li span {
        flex: 0 0 140px;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: #111111;
        }
    }
</style>
